# A postgres database is needed to run the application. You can set up a local postgres database and update the DATABASE_URL accordingly.
# Use this docker run command to set up a local postgres database:
# docker run --name powerhouse_db -e POSTGRES_PASSWORD=ThisIsDevelopment77 -e POSTGRES_USER=powerhouse_admin -e POSTGRES_DB=powerhouse -p 5432:5432 -d postgres:18-alpine
DATABASE_URL=postgresql://powerhouse_admin:ThisIsDevelopment77@localhost:5432/powerhouse

# Uncomment the following line to specify a custom port for the application to run on. By default, it will run on port 3000.
# PORT=3030